/* Write your code here. */
.small-box
{
    width: 170px;
background-color:#fbbf24;
height: 170px;
font-size: 20px;
margin-top: 230px;
}
.medium-box
{
    width: 270px;
    height: 270px;
    color: aliceblue;
background-color:#38bdf8;
margin-top: 130px;
font-size: 30px;
}
.large-box
{
height: 400px;
width: 400px; 
background-color:#ec4899;
font-size: 40px;

}
.container
{
    display: flex;
    padding: 10px;
    margin-top: 180px;
}
.rama
{
    text-align: center;
}
.ch
{
    margin-left: 90px;
justify-content: center;   
display: flex;
align-items: center;
}