.container
{
    display: flex;
}
button
{
    height: 30px;
    width: 80px;
   float: left;
   color: red;
 border: none;
 border:1px red solid;
 border-radius: 5px;
}

.dos
{
    width: 600px;
}
body
{
background-color:#ffc2a0;
}